
header{
    font-size: 72px;
    text-align: center;  
}
footer{
    font-size: 20px;
    font-style: italic;
    font-family: fantasy;
    line-height: 30px;
}
#container{
    width: 1200px;
    height: 500px;
    margin: auto;
    background-color: #393e46;
    text-align: center;
    vertical-align: middle
}
.box{
    
    width: 300px;
    margin: 25px;
    padding: 0 10px;
    display: inline-block;
    height: 450px;
    vertical-align: top;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    position: relative;
    text-align: left;
}

.box::before{
    content: attr(data-tag);
    width: 280px;
    padding: 20px;
    height: 10px;
    font-size: 16px;
    line-height: 10px;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
#left{
    background-color: #b7fbff;
}
.box span{
    font-weight: bolder;
    font-size: 36px;
}
#middle{
    background-color: #ffe0a3
}
#right{
    background-color: #ffa1ac
}
ul{
    padding: 0
}
li{
    list-style: none;
    margin: 10px 0;
}